_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
!Pneumonia/
Pneumonia/*
!Pneumonia/Pneumonia.ipynb
!Pneumonia/Pneumonia.md
!Pneumonia/output_4_0.png
!Pneumonia/output_6_0.png
!Pneumonia/output_18_0.png
!Pneumonia/output_28_0.png